@using Microsoft.AspNetCore.Identity
@using TechTreeMVCWebApplication.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <li class="nav-item dropdown show">
        <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="UsersToCategory" asp-action="Index">Users to Category</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-controller="MediaType" asp-action="Index">Media Types</a>
        </div>
    </li>
}
else if(!SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#Courses">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="#ContactUs">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="#AboutUs">About Us</a>
    </li>
}