@model TechTreeMVCWebApplication.Entities.Content

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Content</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <input type="hidden" asp-for="CategoryId">
            <input type="hidden" asp-for="CatItemId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTMLContent" class="control-label"></label>
                <textarea asp-for="HTMLContent" rows="10" class="form-control"></textarea>
                <span asp-validation-for="HTMLContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="CategoryItem" asp-action="Index" asp-route-categoryId="@Model.CategoryId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
