/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.main-default
{
    margin-top:80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.progress, .alert-success {
    position: fixed;
    height: 100px;
    top: 50%;
    left: 0;
    width: 90%;
    margin-left: 5%;
}
.video-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
}

.video-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero{
    position:relative;
}

.hero-heading{
    position:absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    width: 180px;
    height: 80px;
    background-color: rgba(0,0,0, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-heading-text {
    color: white;
    font-size:1rem;
}
.hero-register-button{
    font-size: .8rem;
    cursor:pointer;
}
.section-divider{
    height:1px;
    background-color: rgb(82,164,185);
}
.section{
    margin-bottom:80px;
}
.section-header {
    padding-top: 80px;
    color: rgb(82,164,185);
}

.RegisterLink:hover{
    text-decoration:none;
}

a:hover .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.3s ease-in-out;
}



@media screen and (min-width:700px) {
    .hero-heading {
        width: 350px;
        height: 180px;
    }

    .hero-heading-text {
        font-size: 2rem;
    }

    .hero-register-button {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:800px){
    .hero-heading{
        width: 600px;
        height: 200px;
        padding: 20px;
    }


}