@model int

<a asp-action="Edit" asp-route-id="@Model" class="text-info mr-2"><i class="fas fa-edit"></i></a>
<a asp-action="Details" asp-route-id="@Model" class="text-dark mr-2"><i class="fas fa-table"></i></a>
<a asp-action="Delete" asp-route-id="@Model" class="text-danger mr-2"><i class="fas fa-trash"></i></a>
