@model IEnumerable<TechTreeMVCWebApplication.Entities.Category>
@using TechTreeMVCWebApplication.Extensions
@using TechTreeMVCWebApplication.Areas.Admin.Models

<form id="MembersToCategory" asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h4>Category</h4>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="Model.ConvertToSelectList(1)">
                    <option value="0">--Please choose a Category--</option>
                </select>
            </div>
        </div>
    </div>
    <div id="alert_placeholder">

    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h4>Members</h4>
            <div class="form-group">
                <div id="UsersCheckList">
                    <partial name="_UsersListViewPartial" model="new UsersCategoryListModel {CategoryId=0,Users=null,UsersSelected=null } "/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group text-right">
                <button type="button" id="SaveSelectedUsers" name="SaveSelectedUsers" class="btn btn-outline-info">Save</button>
            </div>
        </div>
    </div>
</form>
@section Scripts{ 
    <script src="~/js/UsersToCategory.js"></script>
    <script src="~/js/BootstrapAlerts.js"></script>
}