@model IEnumerable<TechTreeMVCWebApplication.Entities.Category>
@using TechTreeMVCWebApplication.Extensions
@using TechTreeMVCWebApplication.Areas.Admin.Models


<h3 class="mt-4">Add Members to Category</h3>
<hr />

<form id="MembersToCategory" asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h4>Category</h4>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="Model.ConvertToSelectList(1)">
                    <option value="0">--Please choose a Category--</option>
                </select>
            </div>
        </div>
    </div>
    <div id="alert_placeholder">

    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h4>Members</h4>
            <div class="form-group">
                <div id="UsersCheckList">
                    <partial name="_UsersListViewPartial" model="new UsersCategoryListModel {CategoryId=0,Users=null,UsersSelected=null } " />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group text-right">
                <button type="button" id="SaveSelectedUsers" name="SaveSelectedUsers" class="btn btn-outline-info">Save</button>
            </div>
        </div>
    </div>
</form>
<div class="progress collapse">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-white" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height:100%;">
        <span style="font-size: 2rem;">Saving Data...</span>
    </div>
</div>
<div class="col-md-12">
    <div class="alert alert-success alert-dismissible collapse text-center" style="font-size: 2rem;" role="alert">
        The Data has been saved successfully!!
    </div>
</div>

@section Scripts{
    <script src="~/js/UsersToCategory.js"></script>
    <script src="~/js/BootstrapAlerts.js"></script>
}